# Emacs things
\#*#

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
configs/emacs.d/*
*.elc
# But don't ignore these specific locations.
!configs/emacs.d/eshell/alias
!configs/emacs.d/lisp
!configs/emacs.d/snippets
!configs/emacs.d/init.el
!configs/emacs.d/custom.el
!configs/emacs.d/sensible-defaults.el
!configs/emacs.d/themes

# Ignore py3status generated data
configs/i3/py3status.data
