[user]
	name = anarobynn
	email = kevin.rangel@protonmail.com

[core]
	editor = vim
	excludesfile = ./.gitignore_global

[alias]
  co = checkout
  s = status -s
  ss = show --summary

[color "status"]
  added = yellow bold
  changed = green bold
  untracked = red bold

[gpg]
	program = gpg2

[diff "gpg"]
  textconv = gpg2 -q --no-tty --decrypt

[push]
  default = simple

[pull]
  rebase = true

[credential]
	helper = cache --timeout=3600
