/* @namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); */

@-moz-document url(chrome://browser/content/browser.xul),
               url(chrome://browser/content/browser.xhtml)
{
  /*** TAB BAR ***/
  /* Ensure tab doesn't show through auto-completion popup */
  .tabbrowser-tab { z-index: 0 !important; }
  /* Ensure tab "spacers" don't show through the completion window */
  #tabbrowser-arrowscrollbox > spacer { z-index: -1 !important; }
  #mainPopupSet { z-index: 9999 !important; }

  /* Remove the colored overline on the focused tab */
  .tabbrowser-tab .tab-line { background: none !important; }

  /*** Load local overrides ***/
  @import url(./userChrome.local.css);
}
